#confirmation section p {
  margin-top: 5px;
}

#confirmation-invalid {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

#confirmation-summary {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#confirmation-summary h1 {
  font-weight: bold;
  margin-top: 1.9em;
}

#confirmation-order-details {
  display: flex;
  margin-top: 1.9em;
  justify-content: center;
}

#order-details-table {
  text-align: center;
  border: 2px solid black;
  background-color: var(--confirmation-order-details-background);
}

#order-details-table th {
  font-weight: bold;
}

#order-details-table td,
#order-details-table th {
  padding: 0.375em;
}

#order-details-table td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#customer-details {
  text-align: center;
  display: block;
  margin: 1.25em 18.75em 1.9em;
  background-color: var(--confirmation-customer-details-background);
  border: 2px solid black;
  padding: 0.625em;
}

#customer-details h1 {
  font-weight: bold;
  margin-top: 0.625em;
}

#customer-details p:last-of-type {
  margin-bottom: 0.625em;
}

#confirmation-continue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.9em;
  margin-bottom: 1.9em;
  text-align: center;
}
