
  #header-search-bar {
    display: flex;
    align-items: center;
  }
  
  #search-bar {
    border: 3px solid #303216;
    height: 2.6em;
    color: var(--ci-3);
    font-weight: lighter;
    font-size: 18px;
    min-width: 20em;
  }
  
  #search-icon {
    height: 3em;
    border: 3px solid var(--ci-3);
    border-left: none;
  }
  